.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirmation-container {
    
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .confirmation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirmation-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3c8dbc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .confirmation-buttons button:nth-child(1) {
    background-color: #ff6347;
  }
  
  .confirmation-buttons button:nth-child(2) {
    background-color: #aaa;
  }
  